@import "variables";
.Mainpage{
  .mainBanner{
    position: relative;
    width: 100%;
    height: 750px;
    min-height: 450px;
    max-height: calc(100vh - $NavHeight);
    img{
      position: absolute;
      object-fit:cover;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    .shadowBox{
      color: white;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background: linear-gradient(0deg, rgba(23,24,31,1) 0%, rgba(23,24,31, 0.432) 50%);
      .titleBox {
        height: 200px;
        text-align: center;
        user-select: none;
        text-transform: capitalize;
        .title h1{
          font-size: 4.4em;
          margin: 0;
        }
        .desc{
          font-size: 2.5em;
        }
      }
      a{
        width: 270px;
        text-align: center;
        height: 65px;
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        bottom: 0;
        padding-top: 13px;
        font-size: 1.2em;
        text-decoration: none;
        color: $thirdColor;
        border: 3px solid $thirdColor;
        font-weight: 500;
        margin-bottom: 90px;
        transition: 0.4s;
        @extend %button;
        &:hover{
          border-color: $fifthColor;
          background-size: 100% 100%;
        }
      }
    }
  }
  .browseContainer{
    .browseTitle{
      color: $thirdColor;
      text-transform: capitalize;
      font-size: 1.5em;
      font-weight: 600;
    }
    .browseDesc{
      color: $sixthColor;
      font-size: 1em;
    }
    .rightSide{
      display: flex;
      align-items: center;
      a{
        text-decoration: none;
        color: $sixthColor;
      }
    }
  }
  .popularAnime{
    width: $defaultWidth;
    margin: 60px auto;
    
    .popularAnimeContainer{
      margin-top: 10px;
      padding-top: 20px;
      border-top: 3px solid $fifthColor;
      display: flex;
      justify-content: space-between ;
    }
  }
  .randomAnimeContainer{
    max-width: $defaultWidth;
    margin: 80px auto;
    height: 450px;
    background-color: $firstColor;
    display: flex;
    .leftSide{
      position: relative;
      height: 100%;
      width: 300px;
      
      img{
        min-width: 300px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .shadowBox{
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 3;
        bottom: 0;
        background: linear-gradient(270deg, rgba(35,43,53,1) 0%, rgba(35,43,53,0.16) 30%);
      }
    }
    .rightSide{
      width: 840px;
      position: relative;
      margin: 30px;
      .title{
        color: $thirdColor;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        h1{margin: 0;}
      }
      .desc{
        color: $sixthColor;
        margin-top: 30px;
        font-size: 0.95em;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
      }
      .bottomContainer{
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
        .bottomDesc{
          display: flex;
          font-size: 0.9em;
          align-items: center;
          color: $fourthColor;
          .unicode{
            margin: 0 15px;
          }
        }
        .button{
          
          width: 270px;
          height: 65px;
          display: flex;
          text-align: center;
          

          font-size: 1.2em;
          color: $thirdColor;
          border: 3px solid $thirdColor;
          font-weight: 500;
          transition: 0.4s;
          @extend %button;
          &:hover{
            border-color: $fifthColor;
            background-size: 100% 100%;
          }
          a{
            padding-top: 14px;
            height: 100%;
            width: 100%;
            color: white;
            text-decoration: none;
           
            
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1279px) {
  .Mainpage{
    .randomAnimeContainer{
      width: 94%;
      margin: 80px auto;
      height: 450px;
      .leftSide{
        height: 100%;
        width: 300px;
      }
    }
        
    .browseContainer{
      .browseTitle{
        font-size: 1.3em;
      }
      .browseDesc{
        color: $sixthColor;
        font-size: 0.9em;
      }
    }
    .popularAnime{
      width: 900px;
      .popularAnimeContainer{
        .animeItem:nth-child(n+5){
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 950px) {
  
  .Mainpage{
    .randomAnimeContainer{
      width: 94%;
      margin: 80px auto;
      height: 370px;
      .leftSide{
        height: 100%;
        width: 270px;
        
        img{
          min-width: 240px;
          width: 100%;
          height: 100%;
        }
      }
      .rightSide{
        .desc{
          margin-top: 30px;
          font-size: 0.95em;
          -webkit-line-clamp: 5;
        }
        .bottomContainer{
          .button{
            width: 270px;
            height: 65px;
            font-size: 1.2em;
            a{
              padding-top: 14px;
              height: 100%;
              width: 100%;
            }
          }
        }
      }
    }
    .mainBanner{
      height: 650px;
      .shadowBox{
        .titleBox {
          .title h1{
            font-size: 3.4em;
          }
          .desc{
            font-size: 1.8em;
          }
        }
      }
    }
    .browseContainer{
      .browseTitle{
        font-size: 1.3em;
      }
      .browseDesc{
        font-size: 0.9em;
      }
    }
    .popularAnime{
      width: 700px;
      
      .popularAnimeContainer{
        .animeItem:nth-child(n+4){
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 750px) {
  .Mainpage{
    .randomAnimeContainer{
      width: 94%;
      margin: 80px auto;
      height: 320px;
      .leftSide{
        height: 100%;
        width: 200px;
        
        img{
          min-width: 200px;
          width: 100%;
          height: 100%;
        }
      }
      .rightSide{
        width: 840px;
        margin: 18px;
        .title{
          font-size: 0.8em;
          color: $thirdColor;
          -webkit-line-clamp: 1;
        }
        .desc{
          margin-top: 18px;
          font-size: 0.95em;
          -webkit-line-clamp: 6;
        }
        .bottomContainer{
          position: absolute;
          width: 100%;
          
          .bottomDesc{
            display: flex;
            font-size: 0.9em;
            flex-wrap: wrap;
            .unicode{
              margin: 0 5px;
              
            }
          }
          .button{
            width: 200px;
            height: 52px;
            font-size: 1em;
            a{
              padding-top: 9px;
              height: 100%;
              width: 100%;
            }
          }
        }
      }
    }
    .mainBanner{
      height: 550px;
      .shadowBox{
        .titleBox {
          .title h1{
            font-size: 3.4em;
          }
          .desc{
            font-size: 1.8em;
          }
        }
        a{
          width: 210px;
          height: 60px;
          font-size: 1em;
          font-weight: 500;
          padding-top: 16px;
          @extend %button;
          &:hover{
            border-color: $fifthColor;
            background-size: 100% 100%;
          }
        }
      }
      
    }
    .popularAnime{
      width: 520px;
    }
  }
}
@media screen and (max-width: 550px) {
  
  .Mainpage{
    .randomAnimeContainer{
      width: 100%;
      margin: 50px auto;
      height: 220px;
      .leftSide{
        height: 100%;
        width: 150px;
        
        img{
          min-width: 150px;
          width: 100%;
          height: 100%;
        }
        .shadowBox{
          height: 100%;
          width: 100%;        
        }
      }
      .rightSide{
        width: 840px;
        margin: 8px;
        .title{
          font-size: 0.5em;
          color: $thirdColor;
          -webkit-line-clamp: 1;
        }
        .desc{
          margin-top: 5px;
          font-size: 0.84em;
          -webkit-line-clamp: 6;
        }
        .bottomContainer{
          position: absolute;
          width: 100%;
          .bottomDesc{
            display: flex;
            font-size: 0.7em;
            .unicode{
              margin: 0 15px;
            }
          }
          .button{
            width: 120px;
            height: 32px;
            font-size: 0.75em;
            border-width: 2px;
            a{
              padding-top: 6px;
              height: 100%;
              width: 100%;
            }
          }
        }
      }
    }
    .mainBanner{
      height: 480px;
      .shadowBox{
        .titleBox {
          .title h1{
            font-size: 2.7em;
          }
          .desc{
            font-size: 1.4em;
          }
        }
      }
    }
    .popularAnime{
      .browseContainer{
        .browseTitle{
          color: $thirdColor;
          text-transform: capitalize;
          font-size: 1.3em;
          font-weight: 600;
        }
        .browseDesc{
          color: $sixthColor;
          font-size: 0.8em;
        }
        .rightSide{
          display: flex;
          align-items: center;
          a{
            text-decoration: none;
            color: $sixthColor;
          }
        }
      }
      width: 90%;
      height: auto;
      .popularAnimeContainer{
        flex-wrap: wrap;
        gap: 25px;
        justify-content: space-evenly;
        .animeItem:nth-child(n+4){
          display: none;
        }
        .animeItem:nth-child(n+5){
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 522px) {
  .Mainpage{
    .popularAnime{
      .popularAnimeContainer{
        .animeItem:nth-child(n+4){
          display: block;
        }
        .animeItem:nth-child(n+5){
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .Mainpage{
    .randomAnimeContainer{
      width: 100%;
      margin: 30px auto;
      height: 195px;
      .leftSide{
        height: 100%;
        width: 120px;
        
        img{
          min-width: 120px;
          width: 100%;
          height: 100%;
        }
        .shadowBox{
          height: 100%;
          width: 100%;        
        }
      }
      .rightSide{
        width: 840px;
        margin: 8px;
        .desc{
          -webkit-line-clamp: 5;
        }
        .bottomContainer{
          .bottomDesc{
            .unicode{
              margin: 0 5px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 342px) {
  .Mainpage{
    .popularAnime{
      .popularAnimeContainer{
        gap: 5px;
      }
    }
  }
}