@import "variables";


@keyframes inputOn {
  from {
    width: 0;
  }
  to {
    width: 200px;
  }
}
@keyframes inputOff {
  to {
    width: 0;
    border-color: transparent;
  }
}
.navHeight{
  height: $NavHeight;
  background-color: $firstColor;
}
.Navbar {
  position: fixed;
  top: 0;
  z-index: 100;
  user-select: none;
  width: 100%;
  min-width: 1200px;
  height: $NavHeight;
  background-color: $firstColor;
  .mobileMenu, .mobileMenuContainer, .activeMenu,.nav-container-Mobile{
    display: none;
  }
  .nav-container {
    height: 100%;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  .nav-left {
    display: table;
    // margin: 0 auto;
    height: 60px;
    // width: 1000px;
    padding: 25px 20px 0 0;
  }
  .active {
    color: $fourthColor;
  }
  a {
    color: $thirdColor;
    font-size: 1.1em;
    margin-right: 20px;
    padding: 1px 5px;
    text-decoration: none;
    transition: 0.3s;
  }
  a:hover {
    color: $fourthColor;
  }

  .nav-right {
    padding: 25px 0 0 20px;
    display: flex;
  }
  .searchBar {
    color: $thirdColor;
    display: flex;
    cursor: pointer;
    margin-right: 20px;
    font-size: 1.1em;
    user-select: none;
    svg {
      margin-right: 10px;
      transition: 0.2s;
      margin-top: 7px;
      &:hover {
        color: $fourthColor
      }
    }
    input {
      background-color: transparent;
      // transition: 2s;
      height: 25px;
      margin-top: 5px;
      font-size: 0.8em;
      width: 200px;
      animation-name: inputOn;
      animation-duration: 0.6s;
      border: none;
      color: $thirdColor;
      border-bottom: 1px solid $thirdColor;
      transition: 0.5s;
      &:focus {
        border-color: $fourthColor;
        outline: none;
      }
    }
    .inputOff {
      animation-name: inputOff;
      animation-duration: 0.6s;
    }
  }
}
@media screen and (max-width: 1279px) {
  .Navbar {
    min-width: 840px;
    .nav-container {
      width: 90%;
      
    }
  }
  
}
@media screen and (max-width: 840px) {
  $NavHeight: 65px;
  @keyframes inputOn {
    from {
      width: 0;
    }
    to {
      width: 90%;
    }
  }
  .navHeight{
    height: $NavHeight;
  }
  .Navbar {
    min-width: 100%;
    height: $NavHeight;
    .nav-container{
      display: none;
      
    }
    .nav-container-Mobile{
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      a{
        font-size: 1.3em;
        margin-top: 9px;
      }
    }
    .mobileMenu{
      width: $NavHeight;
      height: $NavHeight;
      -webkit-tap-highlight-color: transparent;
      display: flex;
      justify-content:space-between;
      justify-content: center;
      align-items: center;
      font-size: 2em;
      color: $thirdColor;
      &:hover{
        cursor: pointer;
      }
    }
    .activeItem{
      background-color: $secondColor !important;
      color: $fourthColor;
    }
    .mobileMenuContainer{
      display: none;
    }

    .activeMenu{
      
      position: fixed;
      display: flex;
      flex-direction: column;
      z-index: 100;
      top: $NavHeight;
      width: 100%;
      height: calc(100vh - $NavHeight);
      left: 0;
      color: white;
      .menuFirst{
        display: flex;
        flex-direction: column;
        background-color: $secondColor;
        padding: 15px;
        a{
          font-size: 1.3em;
          margin: 8px 0;
        }
        .searchBar {
          width:100%;
          font-size: 1.3em;
          svg{
            font-size: 1,9em;
          }
          input {
            width: 90%;
            font-size: 1em;
            margin-top: 7px;
          }
        }
      }
      .menuSecond{
        background-color: black;
        width: 100%;
        height: 100%;
        opacity: 70%;
      }
      
    }
    
    
  }
}
