$defaultFontsize: 20px;

$firstColor: #232b35;
$secondColor: #17181f;
$thirdColor: #ebebeb;
$fourthColor: #27cabd;
$fifthColor: #019fb6;
$sixthColor: #c0c0c0;
$defaultWidth: 1200px;
$NavHeight: 80px;

%button{
  background: linear-gradient(to right, $fifthColor, $fifthColor);
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s 0s;
  transition: all 0.4s linear;
}